<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Members</title>
</head>

<body>
<h2>Hello members !!!</h2>
<form>
    <input
            type="button"
            value="Add new member"
            onclick="location.href='members/new_member'">
</form>

<div>
    <p>Created members: </p>
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr th:each="member : ${members}">
            <td th:text="${member.firstName}"></td>
            <td th:text="${member.lastName}"></td>
        </tr>
    </table>
</div>

</body>

</html>