<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Create new member</title>
</head>

<body>

<h2>Create new member</h2>

<form action="new_member/create" method="post">
    <div>
        <label>Enter your name: </label>
        <input type="text"
               name="name"/>
    </div>

    <div>
        <label>Enter your last name: </label>
        <input type="text"
               name="lastName"/>
    </div>

    <button>Create</button>

</form>

</body>

</html>